$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #e9e9e9;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-secondary-light: #ffb012;
$color-secondary-dark: #ff5f00;
$color-teritiary-light: #8be279;
$color-teritiary-dark: #0c9718;
$color-quaternary-light: #12bcff;
$color-quaternary-dark: #002fff;

// FONT
$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
