* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-10rem); }
  100% {
    transform: translateY(0rem); } }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: #777;
  padding: 1rem; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary-main {
    font-size: 4rem;
    letter-spacing: 1rem;
    display: block;
    font-weight: 400;
    animation: moveInLeft 2s ease-out; }
  .heading-primary-sub {
    letter-spacing: 0.44rem;
    display: block;
    font-weight: 400;
    animation: moveInRight 2s ease-out; }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase; }

.heading-sub {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 8rem; }

.u-margin-bottom-big {
  margin-bottom: 12rem; }

.btn {
  font-size: 1.4rem;
  font-weight: 700; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn-animeted {
    animation: moveInBottom 1s ease-out; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .btn-white {
    background-color: #ffffff;
    color: #777; }
    .btn-white::after {
      background-color: #ffffff; }
  .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 0.3rem;
  transition: all .2s; }

.btn-text:hover {
  background: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      right: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1rem 1rem 2em rgba(0, 0, 0, 0.3);
  transition: transform .2s;
  text-align: center; }
  .card:hover {
    transform: translateY(-1rem) scale(1.03); }
  .card__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }

.carte {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 51rem; }
  .carte__side {
    border-radius: 5px;
    overflow: hidden;
    height: 50rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .carte__side--front {
      background-color: #fff; }
    .carte__side--back {
      transform: rotateY(180deg); }
      .carte__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb012, #ff5f00); }
      .carte__side--back-2 {
        background-image: linear-gradient(to right bottom, #8be279, #0c9718); }
      .carte__side--back-3 {
        background-image: linear-gradient(to right bottom, #12bcff, #002fff); }
  .carte:hover .carte__side--front {
    transform: rotateY(-180deg); }
  .carte:hover .carte__side--back {
    transform: rotateY(0); }
  .carte__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .carte__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb012, #ff5f00), url(../img/nat-5.jpg); }
    .carte__picture--2 {
      background-image: linear-gradient(to right bottom, #8be279, #0c9718), url(../img/nat-6.jpg); }
    .carte__picture--3 {
      background-image: linear-gradient(to right bottom, #12bcff, #002fff), url(../img/nat-7.jpg); }
  .carte__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .carte__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    .carte__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 176, 18, 0.85), rgba(255, 95, 0, 0.85)); }
    .carte__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(139, 226, 121, 0.85), rgba(12, 151, 24, 0.85)); }
    .carte__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(18, 188, 255, 0.85), rgba(0, 47, 255, 0.85)); }
  .carte__details {
    padding: 3rem; }
    .carte__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .carte__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .carte__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .carte__cta {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .carte__price-box {
    color: #fff;
    margin-bottom: 8rem;
    width: 90%; }
  .carte__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .carte__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  padding: 5rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    --webkit-shape-outside: circle(53% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
  background-size: cover;
  position: relative;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header .text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header .logo-box {
    position: absolute;
    top: 3.4rem;
    left: 3.4rem; }
    .header .logo-box .logo {
      height: 2rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 3 + 2 * 6rem); }

.section-about {
  background-color: #e9e9e9;
  padding: 20rem 1rem;
  margin-top: -20rem; }

.section-cards {
  margin-top: -20rem;
  padding: 20rem 0;
  transform: skewY(-10deg);
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.3), #28b485), url(../img/nat-10.jpg); }
  .section-cards > * {
    transform: skewY(10deg); }

.section-tours {
  background-color: #e9e9e9;
  padding: 20rem 0rem;
  margin-top: -10rem; }

.section-stories {
  padding: 15rem 0;
  position: relative; }
